@import '~styles/varibles.styl'
ellipsis()
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
titleStyle()
    height: .8rem
    line-height: .8rem
    padding-left: .26rem
    background: $Color-f5f5f5
    color: $Color-212121